
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Permanent Marker', cursive;
    /* Background */
    background-image: url("../images/coconut.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 100px;
    animation: 5s background-transition linear 0s infinite;
  }
  body::after {
    content: "" ;
    position: absolute;
    width:100% ;
    height: 100% ;
    top: 0 ;
    left: 0 ;
    z-index: -1 ;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(251, 230, 212, 1) 55%, rgba(250, 156, 70, 0) 100%);
  
  }
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 90px;
    width: 100%;
  }
  
  .container > h1 {
    color: #a74100;
  }
  .gif-container {
    margin-top: 50px;
  }
  
  @keyframes background-transition {
  
    0%{
    background-position: 0 0;
    }
    100%{
    background-position: -100px -100px;
    }
  }
  
  
  /* COMPONENTES */
  /* Header */
  .header--container {
    background-color: rgb(177, 90, 0);
    color: rgb(29, 27, 1);
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    padding-top: 20px;
  }
  .header--nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .header--nav-link {
    color: rgb(255, 220, 195);
    text-decoration: none;
  }
  .header--nav-link:hover {
    color: rgb(238, 156, 97);
  }
  /* Fin de Header */
  
  /* Footer */
  .footer--container {
    background-color: rgba(250, 105, 0, 0.61);
    bottom: 0;
    color: rgba(29, 15, 1, 0.12);
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
  }
  .footer--list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
  }
  
  .footer--link {
    color: rgb(255, 238, 223);
    text-decoration: none;
  }
  /* Fin del footer */
  /* NOTA: Se puede refactorizar, pero está así para el taller del día 19 ;) */
  